<div class= 'article-show-container'>
  <%= image_tag @article.image.url, class: ''%>
  <h1 class=""><%= @article.title%></h1>
  <p class=""><%= @article.text%></p>
  <span class= ''>Author : <strong class="" ><%= @article.creator.username %> </strong></span>
  <span class= ""><%= pluralize(@article.votes.count, 'Vote') %></span>
  <%= vote_button(@article,@vote) %>
</div>