<div >
  <% if @best_voted_article %>
    <div class="home-best-article-container">
    <%= link_to article_path(@best_voted_article.id) do%>
      <%= image_tag(@best_voted_article.image.url ? @best_voted_article.image.url : '') %>
      <h2 >
      <%= @best_voted_article.title %></h2>
      <p ><%= truncate(@best_voted_article.text , length: 400)%></p>
    <%end%>
    </div>
  <% end %>
</div>
<div class="home-articles-container">
  <% Category.all.each do |category|%>
    <% most_recent_article = category.articles.last %>
    <% if most_recent_article %>
      <div class="home-article-container">
      <%= link_to category_path(category.id) do %>
          <%= image_tag( most_recent_article.present? ? most_recent_article.image.url : '') %>
          <h2 ><%= category.name %></h2>
          <h5><%= most_recent_article.title%></h5>
      <% end %>
      </div>
    <%end%>
  <% end %>
</div>