<div >
  <h1 class="home-title">Featured</h1>
  <% if @best_voted_article %>
    <div class="home-best-article-container">
    <%= link_to article_path(@best_voted_article.id) do%>
      <%= image_tag(@best_voted_article.image.url ? @best_voted_article.image.url : random_image(@best_voted_article.category_id)) %>
      <h2 >
      <%= @best_voted_article.title %></h2>
      <p ><%= truncate(@best_voted_article.text , length: 400)%></p>
    <%end%>
    </div>
  <% end %>
</div>

<h2 class="home-subtitle">Categories</h2>
<div class="home-articles-container">
  <% Category.all.each do |category|%>
    <% most_recent_article = category.articles.last %>
    <% if most_recent_article %>
      <div class="home-article-container">
      <%= link_to category_path(category.id) do %>
          <%= image_tag( most_recent_article.image.url ? most_recent_article.image.url : random_image(category.id)) %>
          <h2 ><%= category.name %></h2>
          <h5><%= truncate(most_recent_article.title,length:20)%></h5>
      <% end %>
      </div>
    <%end%>
  <% end %>
</div>