<h1><%= @category.name %></h1>
<div class="category-show-container">
  <% @category_articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <%= image_tag(article.image.url) %>
      <h2 ><%= truncate(article.title, length: 40) %></h2>
      <p><%= truncate(article.text, length: 300) %></p>
      <%= pluralize(article.votes.count, 'vote') %> 
    <% end %>
  <% end %>
</div>